.wordLists {
    display: inline-block;
    position: relative;
    text-align: left;
    perspective: 300px;
}

.wordLists b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}


.word-transition-out {
    opacity: 0;
    transform: rotateX(180deg);
    animation: wordAnimationOut 2s;
}

b.word-transition-in {
    position: relative;

}
.word-transition-in {
    transform: rotateX(0deg);
    opacity: 1;
    animation: wordAnimationIn 2s;
}

@keyframes wordAnimationOut {
    0% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
}

@keyframes wordAnimationIn {
    0% {
        opacity: 0;
        transform: rotateX(180deg);
    }
    35% {
        opacity: 0;
        transform: rotateX(120deg);
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotateX(360deg);
    }
}
