@keyframes wordCycle {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-1em);
    }
    35% {
        transform: translateY(-1em);
    }
    45% {
        transform: translateY(-1em);
    }
    50% {
        transform: translateY(-2em);
    }
    60% {
        transform: translateY(-2em);
    }
    70% {
        transform: translateY(-2em);
    }
    75% {
        transform: translateY(-3em);
    }
    85% {
        transform: translateY(-3em);
    }
    95% {
        transform: translateY(-3em);
    }
    100% {
        transform: translateY(0);
    }
}


.word-cycle {
    animation: wordCycle 20s infinite; /* Adjust timing as needed */
}
