@keyframes wordCycle-1em {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-1em);
    }
    35% {
        transform: translateY(-1em);
    }
    45% {
        transform: translateY(-1em);
    }
    50% {
        transform: translateY(-2em);
    }
    60% {
        transform: translateY(-2em);
    }
    70% {
        transform: translateY(-2em);
    }
    75% {
        transform: translateY(-3em);
    }
    85% {
        transform: translateY(-3em);
    }
    95% {
        transform: translateY(-3em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wordCycle-15em {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5em);
    }
    75% {
        transform: translateY(-1.5em);
    }
    85% {
        transform: translateY(-1.5em);
    }
    95% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.word-cycle-1em {
    animation: wordCycle-1em 20s infinite; /* Adjust timing as needed */
}

.word-cycle-15em {
    animation: wordCycle-15em 20s infinite; /* Adjust timing as needed */
}
