/* YourComponent.css */

.underline-mid {
    position: relative;
    display: inline-block;
}

.underline-mid::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: black;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out; /* Added transform to the transition */
}
.dark .underline-mid::after {
    background-color: white;
}
.underline-mid:hover::after {
    width: 100%;
    transform: translateX(-50%);
}

.underline-mid:hover {
    position: relative;
    z-index: 1;
}
