#root {
    margin-top: 20%;
}

.main-header {
    display: inline-block;
    position: relative;
    transition: 0.3s ease; /* Adjust the duration and timing function as needed */
}

.main-header::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: transparent; /* Initially transparent */
    bottom: -2px;
    transition: 0.3s ease; /* Same duration and timing function as above */
}

.main-header:hover::after {
    width: 100%;
    background-color: #000; /* Change this color as needed */
}
