@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark {
        --tw-bg-opacity: 1;
        background-color: rgb(3 7 18 / var(--tw-bg-opacity));
        color: rgb(229 231 235 / 1);
    }
    .light {
        background-color: #f2f2f2;

    }
    html {
        scroll-snap-type: y mandatory;
    }
    body {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        transition: background-color 0.3s ease, color 0.5s ease;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .bg-gradient-to-b-custom {
        --tw-gradient-stops: 10%;
        background-color: linear-gradient(to bottom, var(--tw-gradient-stops));
    }
}