@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark {
        --tw-bg-opacity: 1;
        background-color: rgb(3 7 18 / var(--tw-bg-opacity));
        color: rgb(229 231 235 / 1);
        transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
    }
    .light {
        transition: background-color 1s ease-in-out, color 0.5s ease-in-out;
    }
}